.helpContainer{
    /* width: 80%; */
  text-align: left;
    line-height: 8vh;  
    font-family: MuotoWeb, sans-serif;
    padding: 5vh 5vw;
}

.helpContainer>h1{   
    font-size: 2.8rem;
}

.helpContainer>p{
    font-size: 1.8rem;
}


.countContainer{
    width: 80%;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid red;
    border-bottom: 1px solid red;    
}
.countDiv1{
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-right: 1px solid red;
   gap: 3vw;   
   padding: 2vw;
}
.countDiv1>div>h1{
   font-size: 3vw;
}
.countDiv1>div>p{
    font-size: 1.3vw;
}

.countDiv2{
    display: flex;
    justify-content: space-between;    
    align-items: center;
    border-right: 1px solid red;
    gap: 3vw;
    padding: 2vw;
}
.countDiv2>div>h1{
    font-size: 3vw;
}
.countDiv2>div>p{
    font-size: 1.3vw;
}

.countDiv3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3vw;
}
.countDiv3>div>h1{
    font-size: 3vw;
}
.countDiv3>div>p{
    font-size: 1.3vw;
}



.featureContainer{  
    width: 80%;
    margin: auto;  
    display: flex;  
    justify-content: center;
    align-items: center;     
    line-height: 6vh;    
}
.featureContainer>div>img{
   cursor: pointer;
   width: 80%;   
   border-radius: 30px 0;
   filter: grayscale(50%);
   transition: .3s;   
}
.featureContainer>div>img:hover{ 
    filter: grayscale(0);  
    border-radius: 50px 0;
}

.textDiv{
    margin-left: -5vw;
}
.textDiv>h1{
    color: #fa5d00;
    font-size: 1.4vw;
    font-weight: bold;
}
.textDiv>p{
    margin-top: 2vh;
    font-size: 1.8vw;
}
.textDiv>button{
    margin-top: 4vh;
    background-color: #0e0d0d;
    font-size: 1.5vw;
    color: rgb(246, 240, 240);
    padding: .1rem 20px;
    border-radius: 15px;
}
.textDiv>button:hover{
    background-color: #0e0d0dd9;
}


.line{
    margin-top: 70px;
    height: 1px;
    width: 100%;
    background-color: #fa5d00;
}

.startContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 13.5vh 10vw;    
    background-color: #fff;
    line-height: 7vh;
}
.startDiv{    
    width: 50%;    
}
.startDiv>h1{
    font-size: 40px;
}
.startDiv>p{
    font-size: 2vw;
}
.startDiv>div{
    display: flex;
    gap: 2vw;
}
.startDiv>div>button{
    background-color: #fa5d00;
    font-size: 1.4vw;
    font-weight: 500;
    color: #fff;
    padding: 0 2vw;
    border-radius: 20px;
}

@media only screen and (max-width: 1550px){
    .startDiv>p{
        margin-top: 5vh;
    }
    .startDiv>div{
        margin-top: 5vh;
    }    
}

@media only screen and (max-width: 1250px){
    .startContainer{
        flex-direction: column-reverse;
        gap: 5vh;
    }
    .startDiv{    
        width: 90%;
    }
}

@media only screen and (max-width: 800px){   
    .startDiv>div{
        margin-top: 5vh;
    }
    .startDiv>div>button{
        font-size: 1rem;
    }
}



